{% extends '/dashboard/index.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('dashboard/pages/style') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('dashboard/pages/create/script') }}
	<script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(() => {
                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}
                        document.dispatchEvent(new CustomEvent("show-toast", {
                            detail: { type: "{{ label }}", message: "{{ message }}" }
                        }));
                    {% endfor %}
                {% endfor %}
            }, 500);
        });
    </script>
{% endblock %}

{% block content %}
	<div class="flex justify-center sticky top-0 pt-5 pb-2 z-30">
		<div class="action-wrapper w-[95%] lg:max-w-7xl">
			<div class="lg:float-right ml-auto flex flex-row lg:gap-4 gap-2 w-fit">
				<button name="preview" id="btnPreview" class="px-4 py-2 border rounded-md transition-colors bg-secondaryTheme text-white flex gap-2">
					<i class="icon-eye"></i>
					<span class="md:block hidden">Preview</span>
				</button>
				<button 
					name="status" 
					form="blogForm"
					class="px-4 py-2 border rounded-md transition-colors bg-gray-500 text-white flex gap-2"
					formaction="{{ path(submitPath, slug is defined ? { 'slug': slug, 'status': '1' } : { 'status': '1' }) }}"
				>
					<i class="icon-cog"></i>
					<span class="md:block hidden">Save as Draft</span>
				</button>

				<button 
					name="status" 
					form="blogForm"
					class="px-4 py-2 border rounded-md transition-colors bg-primaryTheme text-white flex gap-2"
					formaction="{{ path(submitPath, slug is defined ? { 'slug': slug, 'status': '2' } : { 'status': '2' }) }}"
				>
					<i class="icon-check"></i>
					<span class="md:block hidden">Publish</span>
				</button>
			</div>

			<h1 id="createTitle" class="text-primaryTheme text-2xl font-semibold lg:w-fit w-full my-2">{{ titleForm }}</h1>
		</div>
	</div>
	<div class="form-wrapper flex justify-center">
		<div class="form-container lg:max-w-7xl w-[95%]">
			{{ form_start(form, {
    'attr': {
        'class': 'flex flex-col gap-4',
        'id': 'blogForm'
    },
    'action': path(submitPath, slug is defined ? { 'slug': slug } : {}),
    'method': 'POST'
}) }}

			<div class="flex gap-2 lg:flex-row flex-col">
				<div class="lg:w-[60%] w-full flex-col flex gap-2">
					{{ form_widget(form.title, { 
						'attr': { 
							'type': 'text', 
							'placeholder': 'Title', 
							'class':'border border-input bg-white p-3 text-base rounded-md shadow-sm  md:text-sm h-12 w-full' } }) }}
					{{ form_widget(form.category, { 
						'attr': { 
							'type': 'select', 
							'class':'border border-input bg-white p-3 text-base rounded-md shadow-sm md:text-sm h-12 w-full' } }) }}
					
					{{ form_widget(form.summary, { 
						'attr': { 
							'type': 'textarea', 
							'placeholder': 'Write a short summary here...', 
							'class':'border border-input bg-white p-3 text-base rounded-md shadow-sm  md:text-sm h-full w-full' } }) }}
				</div>

				<div class=" lg:w-[40%] w-full flex items-center justify-center w-full flex-col">
					<label for="create_new_page_htmlThumbnail" id="dragLabel"class="flex flex-col items-center justify-center w-full h-64 border-2 border-primaryTheme border-dashed rounded-lg cursor-pointer bg-primaryTheme-50 hover:bg-primaryTheme-100">
						<div class="flex flex-col items-center justify-center pt-5 pb-6">
							<i class="text-gray-500 text-5xl icon-cloud-upload"></i>
							<p class="mb-2 text-sm text-gray-500 dark:text-gray-400 text-center"><span class="font-semibold">Drop your thumbnail here </span>or click to upload.</p>
							<p class="text-xs text-gray-500 dark:text-gray-400 text-center">Upload a high-quality thumbnail (JPG, PNG, WEBP – Max 2MB).</p>
						</div>
						{{ form_widget(form.htmlThumbnail, {
							'attr':{
								'accept': '.jpg, .jpeg, .png, .webp',
								'data-src': existingThumbnail is defined ? asset(existingThumbnail) : ''
							}
						})}}
					</label>

					<div id="viewThumbnail" class="relative h-64 bg-primaryTheme-50 w-full border-solid border-2 border-primaryTheme rounded-lg flex justify-center items-center hidden">
						<button id="removeUpload" class="absolute top-2 right-2 text-xl text-red-700 font-bold">
							<i class="icon-x"></i>
						</button>
						<img id="imgViewer" class="object-contain max-w-[98%] max-h-[98%]" src="" alt="Preview for file upload">
					</div>
				</div> 
			</div>

			<div id="htmlEditor"></div>
			<div id="cssEditor"></div>
			<div id="jsEditor"></div>
			{{ form_widget(form.htmlContent)}}
			{{ form_widget(form.htmlStyle)}}
			{{ form_widget(form.htmlScript)}}

			<div class="flex gap-4">
				<button type="submit" name="status" value="1" class="hidden">
					Save as Draft
				</button>

				<button type="submit" name="status" value="2" class="hidden">
					Publish
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}



