<div class="container py-8 justify-center {{ category.name|lower }} mb-36">
    <h1 class="title text-4xl font-bold my-5 text-center">{{ data["create_new_page[title]"] }}</h1>

    <div class="editor-content">
        {{ data["create_new_page[summary]"]|raw }}
        {{ data["create_new_page[htmlContent]"]|raw }}
    </div>

     <style>
        {{ encore_entry_link_tags('dashboard/pages/create/style') }}
        .editor-content {
            all: unset;
        }

        .editor-content * {
            all: revert;
        }

        .editor-content {
            {{ data["create_new_page[htmlStyle]"]|raw }}
        }
    </style>

    <script>
        {{ data["create_new_page[htmlScript]"]|raw }}
    </script>
</div>