{% extends '/dashboard/index.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('dashboard/pages/style') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('dashboard/pages/script') }}
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			setTimeout(() => {
				{% for label, messages in app.flashes(['success', 'error']) %}
					{% for message in messages %}
						document.dispatchEvent(new CustomEvent("show-toast", {
						detail: { type: "{{ label }}", message: "{{ message }}" }
						}));
				{% endfor %}
			{% endfor %}
		}, 250);
		});
	</script>
{% endblock %}

{% block content %}
	<div class="form-table-wrapper mb-5">
		<div class="form-container flex gap-2">
			<a class="h-10 px-3 py-1 text-sm rounded-md bg-primaryTheme text-white flex flex-nowrap gap-2 items-center w-full max-w-28 cursor-pointer" id="btn-add" href="{{path('dashboard.pages.create')}}">
				<i class="icon-plus"></i>
				<span>Add new</span>
			</a>
			<div class="max-w-lg w-full flex items-center flex gap-2">
				<div class="search-form-group w-full flex items-center flex">
					<input id="pageSearch" type="text" class="border border-input bg-white/50 px-3 px-1 text-base rounded-md shadow transition-colors placeholder:text-muted-foreground md:text-sm h-10 w-full" placeholder="Type a blog title to search...">
					<button id="btnSearch" class="ml-[-35px] bg-primaryTheme h-7 w-7 text-white rounded-full flex items-center justify-center text-sm hover:bg-primaryTheme-900"><i class="icon-search"></i></button>
					<button id="clearSearch" class="text-lg text-primaryTheme font-bold ml-[-50px] flex items-center justify-center opacity-0 transition duration-300"><i class="icon-x"></i></button>
				</div>

				<div>
					<button id="btnFilter" class="size-10 bg-white text-primaryTheme p-1 rounded-md hover:bg-primaryTheme hover:text-white transition duration-300 font-bold border shadow"><i class="icon-sliders-horizontal"></i></button>
				</div>
			</div>

		</div>
	</div>

	<div class="table-wrapper relative w-full overflow-auto rounded-md border max-h-[530px] z-10">
		<table id="blogTable" class="w-full caption-bottom text-sm bg-white shadow">
			<thead class="[&_tr]:border-b sticky top-0 bg-white">
				<tr class="transition-colors  border-b">
					<th class="h-10 px-2 text-left align-middle font-medium text-muted-foreground">
						Status
					</th>
					<th class="h-10 px-2 text-left align-middle font-medium text-muted-foreground">
						Title
					</th>
					<th class="h-10 px-2 text-left align-middle font-medium text-muted-foreground">
						Category
					</th>
					<th class="h-10 px-2 text-left align-middle font-medium text-muted-foreground">
						Author
					</th>
					<th class="h-10 px-2 text-left align-middle font-medium text-muted-foreground">
						Date Created
					</th>
					<th class="h-10 px-2 text-left align-middle font-medium text-muted-foreground">
						Date Updated
					</th>
					<th class="h-10 px-2 text-left align-middle font-medium text-muted-foreground"></th>
				</tr>
			</thead>
			<tbody class="[&_tr:last-child]:border-0 overflow-y-auto">
				{% for blog in blogs %}
					<tr class="{{blog.category.name|lower}} border-b transition-colors hover:bg-secondaryTheme/5 data-[state=selected]:bg-muted">
						<td class="p-2 align-middle">
							<div class="flex p-1 px-2 {{ blog.status is same as('1') ? 'bg-gray-500 ':'bg-primaryTheme' }} rounded text-white w-fit gap-1">
								<i class="{{ blog.status is same as('1') ? 'icon-cog':'icon-check' }}"></i>
								<span class="ml-auto">{{ blogStatus(blog.status) }}</span>
							</div>
						</td>
						<td class="p-2 align-middle">
							{{ blog.title }}
						</td>
						<td class="p-2 align-middle">
							<div class="badge inline-flex items-center rounded  px-2 py-1 shadow text-sm">
								<i class="{{ blogIcon(blog.category.id) }}">
									&nbsp;
								</i>
								{{ blog.category.name|capitalize }}
							</div>
						</td>
						<td class="p-2 align-middle">
							{{ blog.account.firstName|capitalize ~ ' ' ~ blog.account.lastName|capitalize|first ~'.'}}
						</td>
						<td class="p-2 align-middle">
							{{ blog.createdAt|date('M d, Y H:i:s A', "Asia/Manila") }}
						</td>
						<td class="p-2 align-middle">
							{{ blog.updatedAt|date('M d, Y H:i:s A', "Asia/Manila") }}
						</td>
						<td class="p-2 align-middle">
							<button id="{{ blog.id }}" class="btn-tableAction inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none hover:bg-primaryTheme-100 hover:text-accent-foreground h-8 w-8 p-0" data-dropdown='true' type="button" data-id={{blog.id}} data-slug={{ blog.slug }} data-title={{blog.title | e('html_attr')}} aria-haspopup="menu" aria-expanded="false" data-uri='{{ blog.id }}'>
								<i class="icon-ellipsis"></i>
							</button>
							<div id="dropdown-{{blog.id}}" class="dropdown-wrapper opacity-0"></div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="flex items-center justify-end space-x-2 py-4">
		<div class="flex-1 text-sm text-muted-foreground">0 of 5 row(s) selected.</div>
		<div class="space-x-2">
			<button class="inline-flex items-center justify-center gap-2 whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs" disabled="">Previous</button>
			<button class="inline-flex items-center justify-center gap-2 whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs" disabled="">Next</button>
		</div>
	</div>
{% endblock %}
