<div class="container py-8 justify-center {{ category.name|lower }} mb-36 w-full">
    <h1 class="title text-4xl font-bold my-5 text-center">{{ data.title }}</h1>

    <div class="editor-content">
        {{ data.summary|raw }}
        {{ data.htmlContent|raw }}
    </div>

     <style>
        {{ encore_entry_link_tags('dashboard/pages/create/style') }}
        .editor-content {
            all: unset;
        }

        .editor-content * {
            all: revert;
        }

        .editor-content {
            {% if data.htmlStyle is defined %}
            {{ data.htmlStyle }}
            {% endif %}
        }
    </style>

    <script>
        {% if data.htmlScript is defined %}
            {{ data.htmlScript|raw }}
        {% endif %}
    </script>
</div>