{% extends 'home/index.html.twig' %}

{% block body %}
	<div class="border-grid border-b">
		<div class="container-wrapper min-h-screen">
			{% block content %}
				<div class="container py-8 flex justify-center">
					<div class="card-container flex flex-wrap gap-8 w-10/12">
						{% for blog in blogs %}
							<div class="{{ blog.category.name|lower}} p-4 border shadow rounded max-w-sm">
								<div class="card-author flex flex-col">
									<a href="/blog/{{ blog.slug}}">
										<img width="300" height="300" src="{{ asset('/blog/img/4.webp') }}" class="w-full mb-4 hover:opacity-90" alt="image for card">
										<h1 class="title font-semibold text-xl mb-2">{{blog.title}}</h1>
										<div class="blog-tag flex gap-2 items-center">
											<div class="badge inline-flex items-center rounded-sm px-4 py-2 shadow text-xs w-fit">
												<i class="icon-newspaper">
													&nbsp;
												</i>Article</div>

											<div class="border-l pl-2 inline-flex gap-2">
												<span class="relative flex h-8 w-8 shrink-0 overflow-hidden rounded-full"><img class="aspect-square h-full w-full" alt="@shadcn" src="https://github.com/shadcn.png"></span>
												<p class="flex items-center name">{{ blog.account.firstName|capitalize ~ ' ' ~ blog.account.lastName|first|capitalize ~'.' }}</p>
											</div>
											<div class="text-sm ml-auto date">{{ blog.createdAt|date('M d, Y') }}
											</div>
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endblock %}
		</div>
	</div>

{% endblock %}
