{% extends 'blog/index.html.twig' %}
{# 
{% block title %}The &lt;/blog&gt; Blog |
	{{ blog.title|title }}
{% endblock %} #}


{% block content %}
	{# {{ dump(blog) }} #}
	<div class="container py-8 justify-center {{blog.category.name|lower}} text-center">
		<a href="{{path('blog.index')}}" class="flex items-center gap-2 text-primaryTheme">
			<i class="icon-move-left text-xl font-bold"></i>Go back</a>

		<h1 class="title text-5xl font-bold my-5">{{blog.title}}</h1>
		{{ blog.htmlContent|raw }}
	</div>
{% endblock %}
