{{ form_start(form, { 'attr': {'class': 'flex flex-col gap-5 mb-4'} })  }}
{% if
not form.vars.valid %}
	<div class="form-warning text-sm text-red-700 bg-red-100 px-4 py-2 rounded-md">
		<ul>
			{% for error in form.vars.errors.form.getErrors(true) %}
				<li>
					<i class="icon-circle-alert"></i>
					{{ error.message }}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
{# // signup form #}
{{ form_widget(form.firstName, {
    'attr': {
        'type': 'text',
        'placeholder': 'Firstname',
        'class': 'border border-input bg-transparent p-3 text-base rounded-md shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm h-12 w-full'
    }
}) }}

{{ form_widget(form.lastName, {
    'attr': {
        'type': 'text',
        'placeholder': 'Lastname',
        'class': 'border border-input bg-transparent p-3 text-base rounded-md shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm h-12 w-full'
    }
}) }}

{{ form_widget(form.email, {
    'attr': {
        'type': 'email',
        'placeholder': 'Email@domain.com',
        'autocomplete': 'on',
        'class': 'border border-input bg-transparent p-3 text-base rounded-md shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm h-12 w-full'
    }
}) }}

{{ form_widget(form.password, {
    'attr': {
        'type': 'password',
        'placeholder': 'Password',
        'class': 'border border-input bg-transparent p-3 text-base rounded-md shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm h-12 w-full'
    }
}) }}

<div class="valid-password">
	<ul class="flex flex-wrap text-sm md:text-sm">
		<li class="w-1/2 text-password-help flex gap-2 items-centerflex" id="lower">
			<i class="icon-circle-check"></i>
			<span>one lowercase character</span>
		</li>
		<li class=" w-1/2 text-password-help flex gap-2 items-center">
			<i class="text-password-help icon-circle-check"></i>
			one special character
		</li>
		<li class=" w-1/2 text-password-help flex gap-2 items-center" id="upper">
			<i class="icon-circle-check"></i>
			one uppercase character
		</li>
		<li class=" w-1/2 text-password-help flex gap-2 items-center" id="character">
			<i class="icon-circle-check"></i>
			8 character minimum
		</li>
		<li class=" w-1/2 text-password-help flex gap-2 items-center" id="number">
			<i class="icon-circle-check"></i>
			one number
		</li>
	</ul>
</div>
<button class="btn-submit text-white inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md transition-colors shadow w-full px-2 h-12 text-sm">
	Submit
</button>
{{ form_end(form) }}
