{% extends '/dashboard/index.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('dashboard/pages/style') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('dashboard/pages/create') }}
{% endblock %}

{% block content %}
	<button name="preview" class="bg-primary h-10 text-white px-3 mb-2">Preview</button>
	<div class="form-wrapper flex justify-center lg:justify-start">
		<div class="form-container lg:max-w-7xl w-[95%]">
			{{ form_start(form, { 'attr':{
				'class':'flex flex-col gap-4'
			} ,'action': path('dashboard.pages.create'), 'method': 'POST'}) }}
			{{ form_widget(form.title, { 
				'attr': { 
					'type': 'text', 
					'placeholder': 'Title', 
					'class':'border border-input bg-white p-3 text-base rounded-md shadow-sm  md:text-sm h-12 w-full' } }) }}
			{{ form_widget(form.category, { 
				'attr': { 
					'type': 'select', 
					'class':'border border-input bg-white p-3 text-base rounded-md shadow-sm md:text-sm h-12 w-full' } }) }}

			<div id="htmlEditor"></div>
			<div id="cssEditor"></div>
			<div id="jsEditor"></div>
			{{ form_widget(form.htmlContent)}}
			{{ form_widget(form.htmlStyle)}}
			{{ form_widget(form.htmlScript)}}

			<div class="flex gap-4">
				<button type="submit" name="status" value="1" class="px-4 py-2 border rounded-md transition-colors bg-gray-500 text-white">
					Save as Draft
				</button>

				<button type="submit" name="status" value="2" class="px-4 py-2 border rounded-md transition-colors bg-blue-500 text-white">
					Publish
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}



